[run]
source = .
omit =
    tests/*
    .venv/*
    venv/*
    */site-packages/*
    */migrations/*
    config.py
    startup.sh

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
